requests
numpy

step 1: 

git clone https://github.com/youruser/gmgn_bot.git
cd gmgn_bot

step 2: 

pip install -r requirements.txt

step 3 : open config.py and add GMGN API key 
trader amount, filters , stop loss, take profit. 

step 4: run the bot 

python bot.py 